.gallery {
  width: 54em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(200px, 25%), 1fr));
  grid-gap: 20px;
  margin: 0 auto;
}

.item {
  display: block;
  margin: 0 auto;
}

.item img {
  width: 100%;
  height: auto;
  border-radius: 4%;
  box-shadow: 0 0 3px #41474a26, 0 1px 3px #00000047 !important;
}
.item img:hover {
  box-shadow: 0 0 14px #41474a26,0 6px 12px #0000002e!important;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

#search {
  width: 30%;
  padding: 0.5rem;
  font-size: 1.4rem;
  border-radius: 5px 0 0 5px;
  border: 1px solid #ccc;
  border-right: none;
}

button[type="submit"] {
  height: 44px;
  border: none;
  border-radius: 0 5px 5px 0;
  background-color: hsla(0, 0%, 80%, 0.5);
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #0000007a;
}

.fa-search {
  font-size: 1.2rem;
}



 
